/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray:#EEEEEE;
  --basic-pink:#FB565A;
  --basic-green:#00CA74;
  --basic-yellow:#EFC849;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  /*background-color: var(--basic-white);*/
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
 }

a {
  text-decoration: none;
  }

img {
  max-width: 100%;
  height: auto;
}


/* Grid */

.page {
  height: 100%;
}


/* Навигация */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.user-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 75px;
  margin-bottom: 9px;
}
.main-navigation a {
  color: var(--basic-black);
}
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 75px;
  margin-left: 202.13px;
  margin-bottom: 9px;


}

.site-navigation li{
  margin-right: 45px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.user-navigation{
  list-style: none;
  text-transform: uppercase;
}

site-navigation a:hover,
site-navigation a:focus {
  text-decoration: underline;
}

.user-navigation .basket-link {
  position: relative;

}

.basket-link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 0px;
  left: -40px;
}

/*Header*/
.main-header {
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-color: var(--basic-gray);
  height: 114px;

  }

  .main-header-logo {
    margin-top: 49px;
    margin-bottom: 9px;
  }

  .main-navigation-wrapper {
    display: grid;
    grid-template-columns: 160px 1fr min-content;
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    }


.active {
  position:relative;
}

.active::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color:var(--basic-pink);
  position: absolute;
  bottom: -10px;
  top: 37px;
}


/*Основное*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.features {
  background-position: center, 0 0;
  background-repeat: no-repeat;
  background-color: var(--basic-gray);
  margin-bottom: 80px;
  height: 431px;
}

.features-wrapper	 {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
	display: grid;
  grid-template-columns: 1fr 760px;
  margin-bottom: 80px;
  height: 430px;
  background-color: var(--basic-gray);

}
.slides {

}

.slider {
  position: relative;
}

.slide {
	display: none;
}
.togglers {
display: flex;
bottom: 104px;
left: 179px;
position: absolute;
margin-left: -40px;
}

.toggler {
display: block;
width: 18px;
height: 18px;
font-size: 0;
background-color: var(--basic-white);
border-radius: 50%;
margin-right: 15px;

}

.toggler:last-child {
	margin-right: 0;
}

#slide-1:checked ~ .togglers .toggler:nth-child(1),
#slide-2:checked ~ .togglers .toggler:nth-child(2),
#slide-3:checked ~ .togglers .toggler:nth-child(3) {
	background-image: url("../img/toggler.svg");
  background-color: var(--basic-white);
}


#slide-1:checked ~ .slides .slide:nth-child(1),
#slide-2:checked ~ .slides .slide:nth-child(2),
#slide-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}


.features-wrapper p{
  margin-bottom: 38px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.benefits-list {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin: 0;
  padding: 0;
  column-gap: 100px;
}

.benefits-list h3 {
  text-transform: uppercase;
}


.partners {
  border-top: 2px solid var(--basic-gray);
  border-bottom:2px solid var(--basic-gray);
  padding-bottom: 37px;
  padding-top: 46px;
  margin-bottom: 82px;
}


.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

  }

.partners-item{
  border-right: 2px solid var(--basic-gray);
  padding-left: 45px;
  }

.partners-item:last-child{
  border-right: 0px;
}
.features-subtitle {
  font-size: 55px;
  line-height: 56px;
  font-weight: 500;
  margin-top: 77px;
  margin-bottom: 25px;
}


.benefits-subtitle{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 16px;
}


.about {
  display: grid;
  grid-template-columns: 800px 360px;
  margin-bottom: 50px;
}
.about-slogan{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 35px;
}



.about-work {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 42px;
}
.features-list {
  list-style: none;
  padding: 0px;
}

.benefits {
  margin-bottom: 39px;
  border-bottom: 2px solid var(--basic-gray);
  padding-bottom: 84px;
}

.table-benefits img {
  margin-bottom: 31px;
}

.features-item {
  margin-bottom: 24px;
  position: relative;
}
.features-item::before{
  content:  "";
  position: absolute;
  display: block;
  background-color: var(--basic-pink);
  width: 25px;
  height: 2px;
  left: 0;
  right: 0;
  top:10px;
}

.features-item span {
  margin-left: 35px;
}

.table-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align:center;
  margin-bottom: 26px;
}
.first-row {
margin-left: 10px;

}
.first-row-item{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-align:left;
  margin-bottom: 10px;
 padding-right: 18px;
}

.first-row-item span{
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;

}
.second-row-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align:left;
}

.partners-item img {
  opacity: 0.2;
  }

/*Футер*/

.main-footer {
  margin-bottom: 65px;
}

.contacts {
  height: 416px;
  position: relative;
  margin-bottom: 55px;
 }

.map {
  height: 416px;
  width: 100%;
  position: absolute;
  background: url("../img/map.jpg") center no-repeat;

 }

.wrapper {
width: 1200px;
margin-left: auto;
margin-right: auto;
position: relative;
}

.description {
width: 319px;
height: 308px;
background-color: var(--basic-white);
top: 54px;
position: absolute;
text-align: justify;
margin-left: 21px;
}

.description p,
.description .button-contacts{
  margin-left: 50px;
}
.studio-name {
  text-transform: uppercase;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 49px;
}

.address,
.contacts-phone a,
.address p {
color: #666666;
font-size: 16px;
line-height: 18px;
font-weight: 400;
}

.contacts-phone {
 margin-top: 18px;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  }

.footer-social-list {
  list-style: none;
  padding-left: 0;
}

.footer-friends h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 19px;
  margin-bottom: 0px;
}
.footer-friends p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 10px;
}

.social {
  display: grid;
  grid-template-columns: 400px auto;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Кнопки*/

.button {
  background-color: var(--basic-pink);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 15px 40px;

}

.button-2 {
  background-color: var(--basic-green);
}

.button-3{
  background-color: var(--basic-yellow);
}

.button-order {
  margin-top: 16px;
}

.button-contacts{
  margin-top: 14px;
  margin-bottom: 47px;
  padding: 17px 44px;
}
.social-button {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--basic-gray);
  color: inherit;
  margin-right: 9px;

}

.button-filter{
  background-color: var(--basic-gray);
  border-style: none;
  color: var(--basic-black);
  width: 260px;
  border: none;
  outline: none;
}
.button-more {
  width: 160px;
  margin-top: 3px;
}

.button-products-order {
  margin-top: 35px;
  width: 120px;
}
/*Каталог*/
.catalog-header {
  height: 134px;
}

.page-name {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 128px;
  background-color: var(--basic-gray);
  margin-top: 0;
  height: 160px;
  padding-top: 60px;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
.price,
.filter-name,
.filter-price label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-name {
  margin-top: 55px;
  margin-bottom: -5px;
}

.filter-grid-item,
.filter-features-item {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;

}

.sort {
  display: flex;
  margin-top: 57px;
  margin-bottom: 35px;
 }

.sort h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 50px;
  margin-top: -5px;
}


.sort-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 216px;
}

.sort-type-list li:nth-child(4){
  margin-right: 5px;
}

.sort-type-list li:nth-child(3){
margin-right: 25px;
}


.sorting-up{
  margin-left: 0;
  transform: rotate(180deg);
}

.sort-up-down {
  display: flex;
  padding-left: 22px;
  margin-top: 0px;

}

.sort-up-down li:nth-child(2){
  margin-right: 0px;
}

.sort-type-list li{
  position: relative;
  margin-right: 25px;
}
.sort-type-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  display: block;
}

.sort-type-item a{
  color: var(--basic-black);
}
.sort-type-item-no-selected a{
  opacity: 0.3;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 20.74px;
  height: 16.76px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox.svg");
  opacity: 0.4;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 20px;
  height: 20px;
  border: 5px solid #000000;
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 9.5px;
  left: -31.5px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-grid-list,
.filter-features-list,
.sort-type-list,
.sorting-list,
.pages-list {
list-style: none;
}

.filter-grid-list li,
.filter-features-list li {
  margin-bottom: 20px;
}

.filter-grid-list li:nth-child(2),
.filter-grid-list li:nth-child(3){
  margin-top: -5px;
}

.filter-features-list li:nth-child(2),
.filter-features-list li:nth-child(3),
.filter-features-list li:nth-child(4){
  margin-bottom: 15px;
}
.filter-grid-list
.sort-type-item-no-selected {
  opacity: 0.3;
}

.filter-grid-list {
margin-bottom: 47px;

}
.sort-type-list a:hover,
.sort-type-list a:focus {
text-decoration: underline;
}

.pic-slider {
opacity: 0.12;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products-description {
  position: absolute;
  top: 100%;
  width: 360px;
  height: 231px;
  background-color: var(--basic-gray);
  text-align: center;
}

.products-description h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 30px;
}

.products-description p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
 }

.products-item:hover .products-description {
  bottom: 0;
  top:auto;

}

.products-item {
  margin-right: 40px;
  position: relative;
  overflow: hidden;
	background-color:#EAEAEA;
	border-radius: 1.5%;
  width: 357px;
  padding-top: 40px;
  margin-bottom: 35px;
}
.products-item:hover,
.products-item:focus{
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.products-item::before {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 13px;
	left: 16px;
	box-shadow: 23px 0 0 0 white, 46px 0 0 0 white;
}
.products-item img {
	display: block;

}

.products-item:hover {
	background-color:#4D4D4D;

}
.products-item:nth-child(2n+1) {
  margin-right: 0;
}
.products-item p{
  margin-top: 0;
  margin-bottom: 0;
}
.page-catalog {
   margin-top: 180px;
}

.columns {
  display: flex;
  margin-top: 45px;
}

.column-left {
  width: 260px;
  margin-top: 55px;
  margin-right: 140px;
}
.filter{
  width: 260px;
  margin-right: 140px;
}

.products {
margin-bottom: 25px;
}


.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  display: block;
  padding: 12px 20px;
  border-radius: 3px;
}

.pagination-item-selected a{
background-color: var(--basic-white);
border: 3px solid #DBDBDB;
box-sizing: border-box;
width: 47px;
height: 47px;
padding: 9px 17px;
}

.pagination {
  margin-bottom: 60px;
  }

.pagination-item{
  margin-right: 11px;
  width: 50px;
  height: 50px;
}

.pagination-item-next{
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;

}
/*Изменение состояния*/
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
color: var(--basic-pink);
}
.site-navigation a:active,
.user-navigation a:active {
color: var(--basic-black);
opacity: 0.3;
}

.button-filter span:hover,
.button-filter span:focus {
color: var(--basic-white);
}
.button:hover,
.button:focus,
.social-button:hover,
.social-button:focus {
background: #E74246;
}
.button:active{
background-color: #D7373B;
color: var(--basic-white);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active {
  background-color: #D7373B;
}
.social-button svg:active{
  opacity: 0.3;
}

.button:active span {
opacity: 0.3;
}
.button-2:hover,
.button-2:focus {
background: #00BC6C;
}
.button-2:active {
background: #00AA62;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
color: var(--basic-white);

}
.button-3:hover,
.button-3:focus {
background: #EAB534;
}
.button-3:active {
background: #E5A722;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.partners-item img:hover,
.partners-item img:focus{
opacity: 1;
}

.partners-item img:active {
opacity: 0.1;
}


.button-products-order:hover,
.button-products-order:focus {
background: #E74246;
}

.button-products-order:active {
background: #D7373B;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}
